@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

.box-shadow {
    box-shadow: 0 20px 20px rgba(56, 42, 225, 0.190291);
}

.image-wrapper .desktop {
    display: none !important;
}

@media screen and (min-width: 768px) {
    .image-wrapper .mobile {
        display: none !important;
    }

    .image-wrapper .desktop {
        display: inline !important;
    }
}